/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.idea/
*.iml
.DS_Store
.calva/
.clj-kondo/
.lsp/

# ClojureScript 빌드 결과물
resources/public/js/
.shadow-cljs/

# 기타 IDE/편집기 설정
.vscode/

# NPM/PNPM 관련
node_modules/
.pnpm-store/
pnpm-lock.yaml

# Cloudinary
.cloudinary/

# 환경 변수
.env